{% extends "main/base.html" %} {% block content%}
<title>{% block title %} Статистика {% endblock title %}</title>

<br />
<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <strong> <h1>Статистика</h1></strong>
        </div>
        <div class="card card-body">
            <div class="card card-body">
                <a
                    class="btn btn-primary btn-sm btn-block"
                    href="{% url 'create_service' %}"
                    >добавить запись</a
                >
                <hr />
                <form method="POST">
                    {% csrf_token %}
                    <strong>
                        <p>Фильтр по дате</p>
                        <p>
                            от :
                            <input
                                type="date"
                                name="fromdate"
                                class="form-control col-md-3"
                                aria-label="Default"
                                aria-describedby="inputGroup-sizing-large"
                            />
                        </p>
                        <p>
                            до :<input
                                type="date"
                                name="todate"
                                class="form-control col-md-3"
                                aria-label="Default"
                                aria-describedby="inputGroup-sizing-default"
                            />
                        </p>
                        <p>
                            <button type="submit" class="btn btn-success">
                                применить
                            </button>
                        </p>
                        <!-- <p><input type="submit" value="применить" /></p> -->
                    </strong>
                    <div class="content">
                        <td>
                            <strong>итого:</strong>
                            <h3>{{total_price_service}}</h3>
                        </td>
                    </div>
                    <table class="table">
                        <tr>
                            <th>дата</th>
                            <th>доктор</th>
                            <th>пациент</th>
                            <th>услуга</th>
                            <th>цена</th>
                            <th>изменить</th>
                            <th>удалить</th>
                        </tr>

                        <tr>
                            {% for works in service %}
                            <td>{{works.date_of_treatment}}</td>
                            <td>{{works.attending_doctor}}</td>
                            <td>{{works.patient}}</td>
                            <td>{{works.treatment}}</td>
                            <td>{{works.price}}</td>
                            <td>
                                <a
                                    class="btn btn-sm btn-info"
                                    href="{% url 'update_service' works.id %}"
                                    >изменить</a
                                >
                            </td>
                            <td>
                                <a
                                    class="btn btn-sm btn-danger"
                                    href="{% url 'delete_service' works.id %}"
                                    >удалить</a
                                >
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </form>
            </div>
        </div>
    </div>

    {% endblock %}
</div>
