{% extends "main/base.html" %} {% block content %}
<title>{% block title %} Персонал {% endblock title %}</title>
<br />

<div class="col-md-10">
    <strong><h1>Персонал</h1></strong>
    <hr />
    <div class="card card-body">
        <a
            class="btn btn-primary btn-sm btn-block"
            href="{% url 'create_doctor' %}"
            >добавить сотрудника</a
        >
        <table class="table table-sm">
            <tr>
                <th>карточка</th>
                <th>ф.и.о.</th>
                <th>профиль</th>
                <th>удалить</th>
            </tr>
            <tr>
                {% for employee in staff %}
                <td>
                    <a
                        class="btn btn-sm btn-success"
                        href="{% url 'doctor_detail' employee.id %}"
                        >открыть</a
                    >
                </td>
                <td>{{employee.name}}</td>
                <td>{{employee.specialization}}</td>
                <td>
                    <a
                        class="btn btn-sm btn-danger"
                        href="{% url 'delete_doctor' employee.id %}"
                        >удалить</a
                    >
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
